body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('chilies.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
